.acord { width: 200px; /*For plus-minus arrow*/ }
.acord .acord_head { cursor: pointer; padding: 10px 25px; margin: 3px 0 0 0; background-color: #e6e6e6; font-size: 15px; color: #747474; position: relative; /*for upDown arrow*/ }
.acord .acord_head:hover { background-color: #cecece; }
.acord .acordUp span, .acord .acordDown span { background: url(../i/acordSprite.png) no-repeat; width: 7px; height: 7px; top: 17px; left: 10px; position: absolute; }
.acord .acordUp span { background-position: 0px -7px; }
.acord .acordDown span { background-position: 0px 0px; }
.acord .plus span, .acord .minus span { background: url(../i/acordSprite2.png) no-repeat; width: 8px; height: 8px; top: 17px; left: 10px; position: absolute; }
.acord .minus span { background-position: 0px -9px; }
.acord .plus span { background-position: 0px 0px; }
.acord .acord_cont { padding: 1em 2.2em; border-top: 0; overflow: auto; display: none; border: solid #ccc; border-width: 1px; }
.acord .active { display: block; }
.acord .disable { background-color: #C0C0C0; }
